<div>
<%# --------- HERO ----------- %>
  <div class="home-hero">
    <div class="hero-container">
      <div class="hero-header">
        <h2>Find the perfect place</h2>
        <h2>to store your <span class="typewriter"> </span></h2>
        <script>
          var typed = new Typed(".typewriter",{
          strings: ["car","boat","boxes", "inventory", "furniture", "RV"] ,
          typeSpeed: 100,
          backSpeed: 100,
          loop: true,
          showCursor: false
          })
      </script>
      </div>
      <%# --------- SEARCH BAR ----------- %>
      <%= form_tag storages_path, method: :get, class: 'home-search-container' do %>
        <div class="home-search-form">
          <%= text_field_tag :query,
          params[:query],
          placeholder: "Search for a city...",
          class: 'home-search-bar'
          %>
          <%= submit_tag("Search", :class=>"home-search-btn") %>
        </div>
      <% end %>
    </div>
  </div>



<%# ---------- STORAGES ------------  %>
<div class="home-storages-container">
  <h2 class="storages-header">There is a storage for everything...</h2>
  <div class="items-container">
    <div class="row card-row d-flex justify-content-center align-items-center">
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="inventory.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Business Inventory</p>
        </div>
      </div>
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="car-garage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Car Parking</p>
        </div>
      </div>
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="kayaks.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Boats</p>
        </div>
      </div>
    </div>
    <div class="row card-row d-flex justify-content-center align-items-center">
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="rv.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">RV</p>
        </div>
      </div>
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="personal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Personal</p>
        </div>
      </div>
      <div class="card-container col-lg-4 col-md-4 col-sm-12 p-4">
        <img src="furniture.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Furniture</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%#--------WHY CHOOSE US----------%>
  <div class="container mt-5 mb-4 text-center"  >
    <p class="mb-5" style="font-size:3rem"> Why rent a storage with us? </p>
    <div class="row why-storage-container">
      <div class="col-6 col-md-3 why-storage">
        <img src="open-box.png" alt="" class="mb-2">
        <h4 class="title">Lorem Ipsum</h4>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="col-6 col-md-3 why-storage">
        <img src="warehouses.png" alt="" class="mb-2">
        <h4 class="title">Lorem Ipsum</h4>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="col-6 col-md-3 why-storage">
        <img src="warehouse.png" alt="" class="mb-2">
        <h4 class="title">Lorem Ipsum</h4>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
      </div>
      <div class="col-6 col-md-3 why-storage">
        <img src="garage.png" alt="" class="mb-2">
        <h4 class="title">Lorem Ipsum</h4>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>
  </div>

<%#--------DISCOVER STORAGES-------------%>

  <div class="home-near-you-container mt-5 mb-4 text-center">
    <h2 class="home-near-you-header">Discover storages</h2>
    <div class="home-storages-near-cards">
      <% Storage.all.sample(4).each do |storage| %>
        <%= link_to storage_path(storage) do %>
        <div class="home-storage-near-card" >
          <div class="home-storage-near-img">
            <img src="https://images.unsplash.com/photo-1522050212171-61b01dd24579?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=formatfit=crop&w=880&q=80" alt="storage" class="show-storage-near-img ">
            <p class="home-storage-near-price">$<%= storage.price.to_i %></p>
          </div>
          <div class="home-storage-near-details">
            <p class="home-storage-near-title"><%= link_to storage.title.truncate(24).capitalize, storage_path(storage) %></p>
            <p class="home-storage-near-type">Garage - <%=storage.meters%>m<sup>2</sup></p>
            <p class="home-storage-near-user">
              <i class="fa-solid fa-user"></i>
              <%=storage.user.first_name%>
              <%=storage.user.last_name.first%>.
            </p>
            <p class="home-storage-near-city">
              <i class="fa-solid fa-location-dot"></i>
              <%= storage.city%>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="home-see-more-container">
      <%= link_to "See More", storages_path, :class => "btn btn-success py-2 px-3" %>
    </div>
  </div>


<%#--------BECOME A HOST-----------%>
  <div class="become-host-container mt-5 mb-4 text-center">
    <h2 class="become-host-header">Become a host</h2>
    <div class="host-container">
      <%# <button class="host-btn", storages_path> Become Host </button> %>
      <%= link_to "Become Host", new_storage_path, :class => "btn btn-success py-2 px-3" %>
    </div>
  </div>

</div>
