<div class="user-dashboard">

  <%= render 'shared/sidebar' %>

  <div class="user-right-container">
  <div class="user-information-container">
    <div class="avatar-container">
      <img src="avatar.png" alt="avatar" class="account-avatar">
      <a href="#"> Change Image </a>
    </div>
    <div class="personal-information">
      <div class="personal-info-header">
        <h1>Personal Information</h1>
        <%= link_to edit_user_registration_path do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </div>
      <div><strong>First Name:</strong> <%= current_user.first_name %></div>
      <div><strong>Last Name:</strong> <%= current_user.last_name %></div>
      <div><strong>Email:</strong> <%= current_user.email %></div>
      <div><strong>Document Number:</strong> <%= current_user.document_number %></div>
      <div><strong>User since:</strong> <%= current_user.created_at.to_formatted_s(:long_ordinal) %></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  </div>

</div>
