<div class="container-fluid p-4">
  <div class="container mt-5 mb-5 p-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 edit-storage-form">
          <h2>EDIT Storage</h2>
          <%= simple_form_for([@user, @storage]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :title, label: "Title", placeholder: "Title" %>
            <%= f.input :description, label: "Description", placeholder: "Description" %>
            <%= f.input :address, label: "Address", placeholder: "Address" %>
            <%= f.input :city, label: "City", placeholder: "City" %>
            <div class="country-storage-type">
              <div class="country-input-form">
                <%= f.label :country %>
                <%= f.select :country, ["United Kingdom", "Spain","Germany", "Netherlands", "Portugal", "Belgium", "France"], include_blank: "Select Country" %>
              </div>
              <div class="type-input-form">
                <%= f.label :storage_type %>
                <%= f.select :storage_type, ["Business Inventory", "Car Parking", "Boats", "RV parking", "Personal Storage", "Furniture", "Storage Unit"], include_blank: "Select Type" %>
              </div>
            </div>
            <div class="price-meters">
              <%= f.input :price, label: "Price", placeholder: "Price", class:"price-input" %>
              <%= f.input :meters, label: "Meters (m<sup>2</sup>)".html_safe, placeholder: "Meters", class:"meters-input" %>
            </div>
            <%= f.label :photos, "Photos (4 Max.)" %>
            <%= f.input :photos, as: :file, label: false, input_html: { multiple: true } %>
            <%= f.label :features %>
            <div class="features-select-container">
            <% FeaturesData::Features.each do |feature| %>
              <div class="feature-cb-item" id="featureCheckbox">
                <%= f.check_box :features, { multiple: true }, feature, nil %>
                <%= f.label feature %>
              </div>
            <% end %>
            </div>
            <%= f.button :submit, 'Edit Post', class: "btn btn-primary p-3 w-100 rounded",style:"font-size:18px;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
