<div class="index-container">
  <div class="left-container">
    <div class="index-search-bar">
      <%= form_tag storages_path, method: :get do %>
        <div class="search-bar-form">
          <%= text_field_tag :query,
          params[:query],
          placeholder: "Search for a city...",
          class: "search-bar-input"
          %>
          <%= submit_tag "Search", class: "search-bar-btn" %>
        </div>
      <% end %>
    </div>
    <div class="index-storages-cards">
      <% @storages.each do |storage| %>
        <div class="index-storage-card">
          <div class="index-storage-card-top">
            <img src="https://images.unsplash.com/photo-1522050212171-61b01dd24579?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=formatfit=crop&w=880&q=80" alt="storage" class="index-storage-img">
            <p class="index-storage-price">
              $<%= storage.price.to_i%>
            </p>
          </div>
          <div class = "index-storage-details">
            <p class="index-storage-title"><%=link_to storage.title.truncate(30), storage_path(storage)%></p>
            <p class="index-storage-type"> Garage -<%= storage.meters %>m<sup>2</sup></p>
            <p class="index-storage-user">
              <i class="fa-solid fa-user"></i>
              <%=storage.user.first_name%>
              <%=storage.user.last_name.first%>.
            </p>
            <p class="index-storage-city">
              <i class="fa-solid fa-location-dot"></i>
              <%= storage.city%>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
