<div class="index-container">
  <div class="left-container">
    <div class="index-search-bar">
      <%= form_tag storages_path, method: :get do %>
        <div class="search-bar-form">
          <%= text_field_tag :query,
          params[:query],
          placeholder: "Search for a city...",
          class: "search-bar-input"
          %>
          <%= submit_tag "Search", class: "search-bar-btn" %>
        </div>
      <% end %>
    </div>
    <div class="index-storages">
      <% @storages.each do |storage| %>
        <div class="storage-card">
          <div class="storage-card-top">
            <img src="https://images.unsplash.com/photo-1522050212171-61b01dd24579?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=formatfit=crop&w=880&q=80" alt="storage" class="storage-img">
            <p class="storage-price">
              $<%= storage.price%>
            </p>
          </div>
          <div class = "storage-details">
            <h4 class="storage-title"><%=link_to storage.title.truncate(30), storage_path(storage)%></h4>
            <p class="storage-publisher-container">
              <i class="fa-solid fa-user"></i>
              <span class="storage-publisher">
                <%=storage.user.first_name%>
                <%=storage.user.last_name%>
              </span>
            </p>
            <p class="storage-city">
              <i class="fa-solid fa-location-dot"></i>
              <%= storage.city%>
            </p>
            <p><%= storage.meters %>m<sup>2</sup></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
