<div class="container-fluid p-4">
  <div class="container card-create-tour mt-5 mb-5 p-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <p>Empecemos a crear tu tour </p>
          <%= simple_form_for(@tour) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :title_tour,label: 'Título del Tour', placeholder: 'Full day Huacachina' %>
            <%= f.input :destination,label: 'Destino', placeholder: 'Ica, Huacachina' %>
            <%= f.input :price,label: 'Precio', placeholder: '50' %>
            <%= f.input :duration,label: 'Duración', placeholder: '3 horas' %>
            <%= f.input :description,label: 'Descripción', placeholder: 'Un viaje inmemoriable que empieza a las 8:00 am ...' %>
            <%= f.input :services,label: 'Servicios incluidos' %>
            <%= f.input :departure,label: 'Salida y regreso', placeholder: 'Se incluye la recogida de los viajeros ...' %>
            <%= f.input :expectation,label: 'Qué esperar', placeholder: 'Itinerario ...' %>
            <%= f.input :additional_info,label: 'Información adicional' %>
            <%= f.input :cancellation,label: 'Política de cancelación', placeholder: 'Para recibir el reembolso íntegro ...' %>
            <%= f.input :faq,label: 'Preguntas frecuentes', placeholder: 'P: ' %>
            <%= f.input :photos,label: 'Fotos', as: :file, input_html: { multiple: true } %>
            <%= f.button :submit,'Crear tour', class: "btn btn-success p-3 w-100 rounded",style:"font-size:18px;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
