<div class="show-top-container">
  <h1><%=@storage.title.capitalize%></h1>
  <div class="show-tc-details">
    <span class="tc-details city">
      <i class="fa-solid fa-location-dot"></i>
      <%= @storage.city%>
    </span>
    <span class="tc-details type">
      <i class="fa-solid fa-house"></i>
      <%= @storage.storage_type%>
    </span>
    <span class="tc-details user">
      <i class="fa-solid fa-user"></i>
      <%=@storage.user.first_name %>
      <%=@storage.user.last_name.first %>.
    </span>
    <span class="tc-details meters">
      <%= @storage.meters %>m<sup>2</sup>
    </span>
    <span class="tc-details price">
      $<%= @storage.price %>
    </span>
  </div>
</div>

<div class="show-body">
  <div class="show-left">
    <div class="lightbox">
      <div class="lightbox-row row">
        <% if @storage.photos.attached? %>
          <%= cl_image_tag @storage.photos[0].key, onclick: "openModal();currentSlide(1)", class: "lightbox-img img-one", alt: "image 1" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class= "lightbox-img img-one">
        <% end %>

        <% if @storage.photos.attached? %>
          <%= cl_image_tag @storage.photos[1].key, onclick: "openModal();currentSlide(2)", class: "lightbox-img img-two", alt: "image 2" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class= "lightbox-img img-two">
        <% end %>
      </div>
      <div class="lightbox-row row">
        <% if @storage.photos.attached? %>
          <%= cl_image_tag @storage.photos[2].key, onclick: "openModal();currentSlide(3)", class: "lightbox-img img-three", alt: "image 3" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class= "lightbox-img img-three">
        <% end %>

        <% if @storage.photos.attached? %>
          <%= cl_image_tag @storage.photos[3].key, onclick: "openModal();currentSlide(4)", class: "lightbox-img img-four", alt: "image 4" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class= "lightbox-img img-four">
        <% end %>
      </div>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <%=cl_image_tag @storage.photos[0].key %>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
          <%=cl_image_tag @storage.photos[1].key %>
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
          <%=cl_image_tag @storage.photos[2].key %>
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
          <%=cl_image_tag @storage.photos[3].key %>
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <div class="thumbnail-container">
          <div class="column">
            <%=cl_image_tag @storage.photos[0].key, class:"demo", onclick:"currentSlide(1)" %>
          </div>

          <div class="column">
            <%=cl_image_tag @storage.photos[1].key, class:"demo", onclick:"currentSlide(2)" %>
          </div>

          <div class="column">
            <%=cl_image_tag @storage.photos[2].key, class:"demo", onclick:"currentSlide(3)" %>
          </div>

          <div class="column">
            <%=cl_image_tag @storage.photos[3].key, class:"demo", onclick:"currentSlide(4)" %>
          </div>
        </div>
      </div>
    </div>

    <script>
      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
    </script>

    <div class="show-details">
        <div class="show-about">
          <h1>About</h1>
          <div class="about-text">
            <p><%= @storage.description%></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh sapien, vel malesuada augue cursus vel. Pellentesque fermentum, turpis non hendrerit interdum, risus felis laoreet libero, vel rhoncus turpis ex molestie ligula. Proin volutpat mollis velit, sed maximus ligula eleifend ut. Fusce maximus laoreet nisi, sed convallis diam interdum in. Maecenas vel nisi id neque molestie consectetur nec bibendum urna. Proin ut lectus tortor. Vestibulum elementum aliquam mi, vel mattis nibh vehicula et. Pellentesque et ipsum vehicula, semper sapien quis, maximus leo. Morbi pellentesque convallis dui, sed faucibus ipsum tincidunt sit amet.
            </p>
          </div>
        </div>

        <div class="show-example">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh sapien, vel malesuada augue cursus vel. Pellentesque fermentum, turpis non hendrerit interdum, risus felis laoreet libero, vel rhoncus turpis ex molestie ligula. Proin volutpat mollis velit, sed maximus ligula eleifend ut. Fusce maximus laoreet nisi, sed convallis diam interdum in. Maecenas vel nisi id neque molestie consectetur nec bibendum urna. Proin ut lectus tortor. Vestibulum elementum aliquam mi, vel mattis nibh vehicula et. Pellentesque et ipsum vehicula, semper sapien quis, maximus leo. Morbi pellentesque convallis dui, sed faucibus ipsum tincidunt sit amet.

          Mauris consequat nec orci malesuada egestas. Suspendisse pellentesque id neque eget consequat. Mauris tincidunt rutrum placerat. Nulla rhoncus eleifend nulla, in gravida diam. Sed eu purus quis urna tempus lacinia id vel quam. Integer nec sem eget ex finibus interdum. Pellentesque eget lectus a mi lobortis interdum in vel diam. Fusce finibus, lectus bibendum aliquam commodo, metus mauris ultrices dolor, a malesuada ligula mauris quis nisi. In sit amet luctus purus. Etiam iaculis erat sit amet nunc placerat, eu feugiat augue ultrices.
        </div>

        <div class="<%= @storage.features.nil? ? "d-none" : "show-features" %>">
            <h1>Features</h1>
            <div class="features-items">
              <% @storage.features.try(:each) do |feature| %>
                <div class="feature-item">
                  <%= feature %>
                </div>
              <% end %>
            </div>
        </div>

        <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/light-v10/static/pin-s-l+000(#{@storage.longitude},#{@storage.latitude})/#{@storage.longitude},#{@storage.latitude},15/800x500?access_token=#{ENV['MAPBOX_API_KEY']}", id: "staticMap" %>

    </div>
  </div>

  <div class="reserve-container">
    <div class="reserve-box">
      <div class="reservation-box">
          <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Price</h6>
                </div>
                <span class="text-muted d-flex align-items-center"><%= humanized_money_with_symbol(@storage.price) %> per day</span>
                <span id="dailyPrice" class="d-none"> <%= @storage.price %> </span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="service-fee">
                  <h6 class="my-0">Service Fee</h6>
                  <i class="fa-solid fa-circle-info" id="toolTip" title="Fee given to host for cleaning and other arrangements"></i>
                </div>
                <span class="text-muted d-flex align-items-center" id="serviceFee"> <%= humanized_money_with_symbol(@storage.price*1.20)%> </span>
              </li>
              <li class="list-group-item d-flex justify-content-between" >
                <div>
                  <h6 class="my-0">Discount</h6>
                  <small>Special Discount</small>
                </div>
                <span class="text-muted d-flex align-items-center">-<%= humanized_money_with_symbol(@storage.price*0.40) %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between mt-2">
                <span><b>Total</b></span>
                <span class="d-flex align-items-center">
                <strong>$</strong>
                <strong id="totalReservation"></strong>
                </span>
              </li>
          </ul>
      </div>


      <div class="date-form-container" id="storages-reservation-dates" data-unavailable="<%= @storage.unavailable_dates.to_json %>">
        <%= form_for([@storage, @storage.reservations.new]) do |f| %>
        <div class="flatpickr-container">
          <div class="d-flex">
            <%= f.text_field :start_date, as: :string, type: :text,
              data: {
                controller: "flatpickr",
                # flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.now},
              placeholder: "Start Date",
              class: "flatpickr-input",
              id: "reservation_start_date" %>
            <span class="input-group-text bg-white">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
          <div class="d-flex flatpickr-row">
            <%= f.text_field :end_date, as: :string, type: :text,
              data: {
                controller: "flatpickr",
                # flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.now + 1.day,
                },
              placeholder: "End Date",
              class: "flatpickr-input",
              id: "reservation_end_date" %>
            <span class="input-group-text bg-white">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>

        <!-- Button trigger modal -->
        <% if !current_user %>
          <%= link_to "Reserve Storage", new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-reservation" %>
        <% elsif current_user.id != @storage.user_id %>
          <button type="button" class="btn btn-primary btn-lg btn-block btn-reservation" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Reserve Storage
          </button>
        <% else %>
          <button class="btn btn-dark btn-lg btn-block btn-reservation disabled">This is your own storage</button>
        <% end %>

      </div>
    </div>
        <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Payment Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= render 'reservations/card_payment' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%= f.submit "Reserve Storage", class: "btn btn-primary btn-lg btn-block btn-reservation" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

    <script>
      $("#reservation_start_date, #reservation_end_date" ).change(function() {
        const d1=document.getElementById("reservation_start_date").value;
        const d2=document.getElementById("reservation_end_date").value;
        const start = new Date(d1);
        const end = new Date(d2);
        const daily_price=document.getElementById("dailyPrice").innerHTML;
        const totalPrice = document.getElementById("totalReservation")

        const full_price = ((daily_price * (end-start) / (24*3600*1000))+(daily_price*1.20)-(daily_price*0.40)); // from milliseconds to days.
        if(isNaN(full_price)){
            full_price=0;
        }
        totalPrice.innerHTML=full_price.toFixed(2);
      });
    </script>

  </div>
</div>

<div class="row storages-near-bottom">
  <div class="storages-near-container mb-4">
    <h1 class="mb-3">Storages near <%= @storage.city %></h1>
    <div class="show-near-you-container text-center">
      <div class="show-storages-near-cards">
        <% Storage.limit(4).near([@storage.latitude, @storage.longitude], 500).each do |nearby| %>
          <%= link_to storage_path(nearby) do %>
            <div class="show-storage-near-card">
              <div class="show-storage-near-img">
                <% if nearby.photos.attached? %>
                  <%= cl_image_tag nearby.photos[0].key, onclick: "openModal();currentSlide(4)", class:"show-storage-near-img" %>
                <% else %>
                  <img src="/noimage.png" alt="no-image" class= "show-storage-near-img">
                <% end %>

                <p class="show-storage-near-price">$<%= nearby.price %></p>
              </div>
              <div class="show-storage-near-details">
                <p class="show-storage-near-title"><strong><%= nearby.title.truncate(24).capitalize %></strong></p>
                <p class="show-storage-near-type">Garage - <%=nearby.meters%>m<sup>2</sup></p>
                <p class="show-storage-near-user">
                  <i class="fa-solid fa-user"></i>
                  <%=nearby.user.first_name%>
                  <%=nearby.user.last_name.first%>.
                </p>
                <p class="show-storage-near-city">
                  <i class="fa-solid fa-location-dot"></i>
                  <%= nearby.city%>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="show-see-more-container">
        <%= link_to "See More", storages_path, :class => "btn btn-primary py-2 px-3" %>
      </div>
    </div>
  </div>
</div>
