<div class="show-top-container">
  <h1><%=@storage.title.capitalize%></h1>
  <div class="show-tc-details">
    <span class="tc-details city">
      <i class="fa-solid fa-location-dot"></i>
      <%= @storage.city%>
    </span>
    <span class="tc-details user">
      <i class="fa-solid fa-user"></i>
      <%=@storage.user.first_name %>
      <%=@storage.user.last_name %>
    </span>
    <span class="tc-details meters">
      <%= @storage.meters %>m<sup>2</sup>
    </span>
    <span class="tc-details price">
      $<%= @storage.price %>
    </span>
  </div>
</div>

<div class="show-body">
  <div class="show-left">
    <div class="lightbox">
      <div class="lightbox-row row one">
          <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&q=150" onclick="openModal();currentSlide(1)" class="hover-shadow img-one">
          <img src="https://lipsum.app/id/47/200x150" onclick="openModal();currentSlide(2)" class="hover-shadow img-two">
      </div>
      <div class="lightbox-row row two">
          <img src="https://lipsum.app/id/48/200x150" onclick="openModal();currentSlide(3)" class="hover-shadow img-three">
          <img src="https://lipsum.app/id/51/200x150" onclick="openModal();currentSlide(4)" class="hover-shadow img-four">
      </div>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
          <img src="https://lipsum.app/id/47/200x150" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
          <img src="https://lipsum.app/id/48/200x150" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
          <img src="https://lipsum.app/id/51/200x150" style="width:100%">
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <div class="thumbnail-container">
          <div class="column">
            <img class="demo" src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop" onclick="currentSlide(1)" alt="Nature">
          </div>

          <div class="column">
            <img class="demo" src="https://lipsum.app/id/47/200x150" onclick="currentSlide(2)" alt="Snow">
          </div>

          <div class="column">
            <img class="demo" src="https://lipsum.app/id/48/200x150" onclick="currentSlide(3)" alt="Mountains">
          </div>

          <div class="column">
            <img class="demo" src="https://lipsum.app/id/51/200x150" onclick="currentSlide(4)" alt="Lights">
          </div>
        </div>
      </div>
    </div>

    <script>
      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
    </script>

    <div class="show-details">
        <div class="show-about">
          <h1>About</h1>
          <div class="about-items">
            <%# <div class="about-item">Security Camera</div>
            <div class="about-item">Smoke Detector</div>
            <div class="about-item">Pet Free</div>
            <div class="about-item">Locked Area</div>
            <div class="about-item">Smoke Free</div>
            <div class="about-item">Climate Controlled</div> %>
              <%# <div class="feature-select-item"> %>
                <%#= @storage.features %>
              <%# </div> %>
          </div>
          <div class="about-text">
            <p><%= @storage.description%></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh sapien, vel malesuada augue cursus vel. Pellentesque fermentum, turpis non hendrerit interdum, risus felis laoreet libero, vel rhoncus turpis ex molestie ligula. Proin volutpat mollis velit, sed maximus ligula eleifend ut. Fusce maximus laoreet nisi, sed convallis diam interdum in. Maecenas vel nisi id neque molestie consectetur nec bibendum urna. Proin ut lectus tortor. Vestibulum elementum aliquam mi, vel mattis nibh vehicula et. Pellentesque et ipsum vehicula, semper sapien quis, maximus leo. Morbi pellentesque convallis dui, sed faucibus ipsum tincidunt sit amet.
            </p>
          </div>
        </div>
        <div class="show-example">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh sapien, vel malesuada augue cursus vel. Pellentesque fermentum, turpis non hendrerit interdum, risus felis laoreet libero, vel rhoncus turpis ex molestie ligula. Proin volutpat mollis velit, sed maximus ligula eleifend ut. Fusce maximus laoreet nisi, sed convallis diam interdum in. Maecenas vel nisi id neque molestie consectetur nec bibendum urna. Proin ut lectus tortor. Vestibulum elementum aliquam mi, vel mattis nibh vehicula et. Pellentesque et ipsum vehicula, semper sapien quis, maximus leo. Morbi pellentesque convallis dui, sed faucibus ipsum tincidunt sit amet.

          Mauris consequat nec orci malesuada egestas. Suspendisse pellentesque id neque eget consequat. Mauris tincidunt rutrum placerat. Nulla rhoncus eleifend nulla, in gravida diam. Sed eu purus quis urna tempus lacinia id vel quam. Integer nec sem eget ex finibus interdum. Pellentesque eget lectus a mi lobortis interdum in vel diam. Fusce finibus, lectus bibendum aliquam commodo, metus mauris ultrices dolor, a malesuada ligula mauris quis nisi. In sit amet luctus purus. Etiam iaculis erat sit amet nunc placerat, eu feugiat augue ultrices.
        </div>

        <%# <div class="show-features"> %>
        <div class="<%= @storage.features.nil? ? "d-none" : "show-features" %>">
            <h1>Features</h1>
            <div class="features-items">
              <%# @storage.features.each do |feature| %>
              <% @storage.features.try(:each) do |feature| %>
                <div class="feature-item">
                  <%= feature %>
                </div>
              <% end %>
            </div>
        </div>


    </div>
  </div>

  <div class="reserve-container">
    <div class="reserve-box">
      <div class="">
          <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Subtotal</h6>
                </div>
                <span class="text-muted d-flex align-items-center" id="PrecioUnitario"><%= @storage.price %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="service-fee">
                  <h6 class="my-0">Service Fee</h6>
                  <i class="fa-solid fa-circle-info" id="toolTip" title="Lorem Ipsum Lorem Ipsum Lorem Ipsum"></i>
                </div>
                <span class="text-muted d-flex align-items-center cant-traveres"> <%= (@storage.price*0.10) %> </span>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light" >
                <div class="text-success">
                  <h6 class="my-0">Discount</h6>
                  <small>First Month Discount (20%)</small>
                </div>
                <span class="text-success d-flex align-items-center">-<%= (@storage.price*0.20) %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between mt-2">
                <span><b>Total $</b></span>
                <span class="text-success d-flex align-items-center">
                <b> <%= (@storage.price-(@storage.price*0.20) + (@storage.price*0.10)).round(2) %> </b>
                </span>
              </li>
          </ul>
      </div>
      <div class="date-form-container" id="storages-reservation-dates" data-unavailable="<%= @storage.unavailable_dates.to_json %>">
        <%= form_for([@storage, @storage.reservations.new]) do |f| %>
        <div class="flatpickr-container">
          <div class="d-flex">
            <%= f.text_field :start_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.now},
              placeholder: "Start Date", as: :string, type: :text,
              class: "flatpickr-input",
              id: "reservation_start_date" %>
            <span class="input-group-text bg-white">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
          <div class="d-flex flatpickr-row">
            <%= f.text_field :end_date, as: :string, type: :text,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.now + 1.day,
                },
              placeholder: "End Date",
              class: "flatpickr-input",
              id: "reservation_end_date" %>
            <span class="input-group-text bg-white">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
          <%#= f.submit "Reserve Storage", class: "btn btn-primary btn-lg btn-block btn-reservation" %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg btn-block btn-reservation" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Reserve Storage
        </button>
      </div>
    </div>
        <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Payment Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= render 'reservations/card_payment' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%# <button type="button" class="btn btn-primary">Understood</button> %>
                  <%= f.submit "Reserve Storage", class: "btn btn-primary btn-lg btn-block btn-reservation" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>


    <script>
      $(document).ready(function() {
      var startDate;
      var endDate;
      $( "#datepicker1" ).datepicker({
      dateFormat: 'dd-mm-yy'
      })
      $( "#datepicker2" ).datepicker({
      dateFormat: 'dd-mm-yy'
      });
      $('#datepicker1').change(function() {
      startDate = $(this).datepicker('getDate');
      $("#datepicker2").datepicker("option", "minDate", startDate );
      })
      $('#datepicker2').change(function() {
      endDate = $(this).datepicker('getDate');
      $("#datepicker1").datepicker("option", "maxDate", endDate );
      })
      })
    </script>
  </div>
</div>

<div class="row storages-near-bottom">
  <div class="storages-near-container">
    <h1>Storages near <%= @storage.city %></h1>
    <div class="show-near-you-container mt-5 mb-4 text-center">
      <div class="show-storages-near-cards">
        <% Storage.limit(4).near([@storage.latitude, @storage.longitude], 500).each do |nearby| %>
          <%= link_to storage_path(nearby) do %>
            <div class="show-storage-near-card">
              <div class="show-storage-near-img">
                <img src="https://images.unsplash.com/photo-1522050212171-61b01dd24579?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=formatfit=crop&w=880&q=80" alt="storage" class="show-storage-near-img ">
                <p class="show-storage-near-price">$<%= nearby.price %></p>
              </div>
              <div class="show-storage-near-details">
                <p class="show-storage-near-title"><%= link_to nearby.title.truncate(24).capitalize, storage_path(nearby) %></p>
                <p class="show-storage-near-type">Garage - <%=nearby.meters%>m<sup>2</sup></p>
                <p class="show-storage-near-user">
                  <i class="fa-solid fa-user"></i>
                  <%=nearby.user.first_name%>
                  <%=nearby.user.last_name.first%>.
                </p>
                <p class="show-storage-near-city">
                  <i class="fa-solid fa-location-dot"></i>
                  <%= nearby.city%>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="show-see-more-container">
        <%= link_to "See More", storages_path, :class => "btn btn-success py-2 px-3" %>
      </div>
    </div>
  </div>
</div>
