<div class="user-dashboard">

  <%= render "shared/sidebar" %>

  <div class="user-right-container">
    <div>
      <h1>My Storages</h1>
      <div class="my-storages-container">
        <% current_user.storages.each do |storage| %>

          <div class="my-storages-card">
            <div>
              <img src="https://images.unsplash.com/photo-1522050212171-61b01dd24579?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=formatfit=crop&w=880&q=80" alt="storage" class="my-storages-img">
            </div>
            <div class="my-storages-items">
              <div class="my-storages-item">
                <p>Title:</p>
                <p class="item-input"><%= storage.title.truncate(80) %></p>
              </div>
              <div class="my-storages-item">
                <p>Description:</p>
                <p class="item-input"><%= storage.description.truncate(70) %></p>
              </div>
              <div class="my-storages-item">
                <p>Address:</p>
                <p class="item-input"><%= storage.address  %></p>
              </div>
              <div class="my-storages-item">
                <p>Type:</p>
                <p class="item-input"><%= storage.storage_type %></p>
              </div>
              <div class="my-storages-bottom">
                <div class="my-storages-item">
                  <p>City:</p>
                  <p class="item-input"><%= storage.city  %></p>
                </div>
                <div class="my-storages-item">
                  <p>Country:</p>
                  <p class="item-input"><%= storage.country %></p>
                </div>
                <div class="my-storages-item">
                  <p>Price:</p>
                  <p class="item-input">$<%= storage.price %></p>
                </div>
                <div class="my-storages-item">
                  <p>Meters:</p>
                  <p class="item-input"><%= storage.meters %>m<sup>2</sup></p>
                </div>
              </div>
              <div class="my-storages-controls">
                <p><%= link_to "See Storage", storage_path(storage) %></p>
                <p><%= link_to "Edit", edit_storage_path %></p>
                <p><%= link_to 'Delete', storage_path(storage),style:"font-size:15px;", method: :delete, data: {confirm: "Are you sure you want to delete this storage?"}%></p>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>

</div>
