<div class="user-dashboard">

  <%= render "shared/sidebar" %>

  <div class="user-right-container">
    <div>
      <h1>My Storages</h1>
      <div class="my-storages-container">
        <% current_user.storages.each do |storage| %>
          <div class="my-storages-card">
              <div>
                <% if storage.photos.attached? %>
                  <%= cl_image_tag storage.photos[0].key, class:"my-storages-img" %>
                <% else %>
                  <img src="/noimage.png" alt="no-image" class="my-storages-img">
                <% end %>
              </div>
              <div class="my-storages-items">
                <div class="my-storages-item">
                  <p><strong>Title:</strong></p>
                  <p class="item-input"><%= storage.title.truncate(60).capitalize %></p>
                </div>
                <div class="my-storages-item">
                  <p><strong>Description:</strong></p>
                  <p class="item-input"><%= storage.description.truncate(56).capitalize %></p>
                </div>
                <div class="my-storages-item">
                  <p><strong>Address:</strong></p>
                  <p class="item-input"><%= storage.address.capitalize  %></p>
                </div>
                <div class="my-storages-item">
                  <p><strong>Type:</strong></p>
                  <p class="item-input"><%= storage.storage_type %></p>
                </div>
                <div class="my-storages-bottom">
                  <div class="my-storages-item">
                    <p><strong>City:</strong></p>
                    <p class="item-input"><%= storage.city  %></p>
                  </div>
                  <div class="my-storages-item">
                    <p><strong>Country:</strong></p>
                    <p class="item-input"><%= storage.country %></p>
                  </div>
                  <div class="my-storages-item">
                    <p><strong>Price:</strong></p>
                    <p class="item-input">$<%= storage.price %></p>
                  </div>
                  <div class="my-storages-item">
                    <p><strong>Meters:</strong></p>
                    <p class="item-input"><%= storage.meters %>m<sup>2</sup></p>
                  </div>
                </div>
                <div class="my-storages-controls">
                  <p><%= link_to "See Storage", storage_path(storage) %></p>
                  <p><%= link_to "Edit", edit_storage_path(storage) %></p>
                  <p><%= link_to 'Delete', storage_path(storage),style:"font-size:15px;", method: :delete, data: {confirm: "Are you sure you want to delete this storage?"}%></p>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
