<div class="user-dashboard">

  <%= render "shared/sidebar" %>

  <div class="user-right-container">
    <div>
      <h1>My Reservations</h1>
      <div>
        <%# current_user.reservations.each do |reservation| %>
        <% @reservations.each do |reservation| %>

          <div class="my-reservations-card">
            <div>
              <% if reservation.storage.photos.attached? %>
                <%= cl_image_tag reservation.storage.photos[0].key, class: "my-reservations-img" %>
              <% else %>
                <img src="/noimage.png" alt="no-image" class= "my-reservations-img">
              <% end %>
            </div>
            <div class="my-reservations-items">
              <div class="my-reservations-item">
                <p>Title:</p>
                <p class="item-input"><%= reservation.storage.title %></p>
              </div>
              <div class="my-reservations-item">
                <p>Address:</p>
                <p class="item-input"><%= reservation.storage.address %></p>
              </div>
              <div class="my-reservations-item">
                <p>Type:</p>
                <p class="item-input"><%= reservation.storage.storage_type %></p>
              </div>
              <div class="my-reservations-bottom">
                <div class="my-reservations-item">
                  <p>City:</p>
                  <p class="item-input"><%= reservation.storage.city %></p>
                </div>
                <div class="my-reservations-item">
                  <p>Country:</p>
                  <p class="item-input"><%= reservation.storage.country %></p>
                </div>
                <div class="my-reservations-item">
                  <p>Price:</p>
                  <p class="item-input">$<%= reservation.storage.price %></p>
                </div>
                <div class="my-reservations-item">
                  <p>Meters:</p>
                  <p class="item-input"><%= reservation.storage.meters %>m<sup>2</sup></p>
                </div>
              <div class="my-reservations-item">
                  <p>From:</p>
                  <p class="item-input"><%= reservation.start_date.to_formatted_s(:rfc822) %></p>
                </div>
                <div class="my-reservations-item">
                  <p>To:</p>
                  <p class="item-input"><%= reservation.end_date.to_formatted_s(:rfc822) %></p>
                </div>
              </div>
              <div class="my-reservations-controls">
                <p><%= link_to "See Storage", storage_path(reservation.storage) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
